@using Tracker.Models
@model List<Bed>

    <body style="background-color: #93C572">
        <form asp-controller="Bed" asp-action="Delete" method="post">
            <div class="text-center">
                <h1>Current Garden Beds </h1>

                @if (Model.Count == 0)
                {
                    <p>No Garden beds have been created yet!</p>
                }
                else
                {
                    <table class="table">
                        <tr>
                            <th>Id
                            <th>Garden Bed</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        @foreach (var bed in Model)
                        {
                            <tr>
                                <td>@bed.Id</td>


                                <td>
                                    <a asp-controller="Bed" asp-action="Detail" asp-route-id="@bed.Id">@bed.Name</a>
                                </td>

                                <td>
                                    <input type="checkbox" name="editIds" value="@bed.Id" />
                                </td>

                                <td>
                                    <input type="checkbox" name="deleteIds" value="@bed.Id" />
                                </td>
                            </tr>
                        }
                    </table>
                }
                <p><a asp-controller="Bed" asp-action="Add" class="btn btn-light">Add Garden</a></p>

                <button type="submit" formaction="@Url.Action("DeleteBed", "Bed")" class="btn btn-light">Delete Selected Gardens</button>

                <button type="submit" formaction="@Url.Action("GatherBeds", "Bed")" class="btn btn-light">Edit Selected Gardens</button>

        </form>
</body>