@model Tracker.ViewModels.SeedDetailViewModel

<h1>Seed Detail</h1>

<body style="background-color: #D1CA08 ">
    <table class="table">


        <b>Seed Name: </b>
        @Model.Name
        </br>
        <b>Hardiness Zone: </b> @Model.HardinessZone
        </br>
        <b>Date Watered: </b>
        @Model.DatePlanted
        <br />
        <b>Watering schedule: </b>
        every @Model.WaterSchedule days this needs to be watered
        </br>
        </br>
        <b>Garden Beds this seed is planted in: </b>
        @Model.BedText

    </table>

    <a asp-controller="Bed" asp-action="AddBedToSeed" asp-route-id="@Model.SeedId" class="btn btn-light">Add garden beds to this seed</a>
    </body>
