@model Tracker.ViewModels.SeedDetailViewModel

<h1>Seed Detail</h1>


<table class="table">

	
	<b>Seed Name: </b>@Model.Name
	</br>
	<b>Hardiness Zone: </b> @Model.HardinessZone
	</br>
	<b>Date Planted: </b>
		@Model.DatePlanted
	</br>
	</br>
	<b>Garden Beds this seed is planted in: </b>
	@Model.BedText

</table>

<a asp-controller="Bed" asp-action="AddBedToSeed" asp-route-id="@Model.SeedId" class="btn btn-danger">Add garden beds to this seed</a>
