@using Tracker.Models
@model List<Seed>

<form asp-controller="Seed" asp-action="Delete" method="post">
<div class="text-center">
    <h1>Current Seeds </h1>

@if (Model.Count == 0)
    {
       <p>No seeds have been created yet!</p>
    }
    else
    {
        <table class="table">
         <tr>
         <th>Name</th>
         <th>Seed</th>
         <th>Delete</th>
         </tr>
        @foreach (var seed in Model)
         {
          <tr>
              <td>@seed.Id</td>

               <td>
                   <a asp-controller="Seed" asp-action="Detail" asp-route-id="@seed.Id">@seed.Name</a>     
               </td>

               <td>
                   <input type="checkbox" name="SeedIds" value="@seed.Id" />
               </td>
                    
                    
             </tr>
               
         }
            
       </table>
    }
        <p><a asp-controller="Seed" asp-action="Add" class="btn btn-danger">Add Seed</a></p>

        <button type="submit" formaction="@Url.Action("DeleteSeed", "Seed")" class="btn btn-danger">Delete Selected Seeds</button>


       
</form>

